src/test/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="course">
        <xs:complexType>
            <xs:all>
                <xs:element type="xs:string" name="name"/>
                <xs:element type="xs:string" name="description"/>
            </xs:all>
            <xs:attribute type="xs:integer" name="id"/>
        </xs:complexType>
    </xs:element>

</xs:schema>
